* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --white: #ffffff;
  --gray1: #333333;
  --gray2: #555555;
  --gray3: #cccccc;
  --gray4: #fcfafa;

  --black: #080808;
  --lightyellow: #ffffcf;
  --darkyellow: #ffe786de;
  --darkpurple: #6633ff;
}

body {
  background-color: var(--darkpurple);
  color: var(--white);
}

.navbar {
  text-decoration: none;
}

.nav-link,
.nav-link:hover,
.nav-link:focus {
  color: var(--white);
}

.nav-link:visited {
  color: lightyellow;
}

.container-fluid {
  margin: 0 auto;
  text-align: center;
  padding: 30px 30px;
  font-size: 1.3em;
  color: var(--darkpurple);
  background-color: var(--white);
}

.row {
  align-items: center;
  justify-content: center;
  padding: 5px 5px 5px 5px;
}

#about,
#contact {
  background-image: url("./files/bananas_edit.png");
  padding: 50px 50px;
}

#about p::first-line {
  font-size: 150%;
  font-weight: 600;
}

#previous-work {
  background-color: var(--darkpurple);
  color: var(--white);
}

#previouswork-item {
  border-radius: 5px;
  border: 2px solid var(--white);
  padding: 20px;
  text-align: left;
}

#previous-work i {
  font-size: 1.4rem;
  padding: 10px;
}

img {
  border-radius: 130px;
}

ul {
  list-style-image: url("./files/banana-icon.svg");
}

.divider {
  height: 1rem;
  background-color: var(--darkyellow);
  border: var(--lightyellow);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em var(--darkyellow),
    inset 0 0.125em 0.5em var(--lightyellow);
}

.icon-square {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
  border-radius: 0.75rem;
}

.button,
.button-secondary {
  border: none;
  color: var(--white);
  padding: 5px 10px;
  text-align: center;
  margin: 4px 2px;
  display: inline-block;
  text-decoration: none;
  border-radius: 5px;
}

.button {
  background-color: var(--darkpurple);
}

.button-secondary {
  background-color: var(--gray2);
}

#projects-item {
  border-radius: 10px;
  border: 2px solid var(--darkpurple);
  padding: 20px;
  text-align: left;
  width: 400px;
  height: 500px;
  margin: 20px;
}
