* {
  box-sizing: border-box;
  /* margin: 0; */
}

:root {
  --white: #ffffff;
  --gray1: #333333;
  --gray2: #555555;
  --gray3: #cccccc;
  --gray4: #aaaaaa;

  --black: #080808;
  --teal: #006060;
  --lightteal: #008080;
  --purple: #800080;
  --navy: #000080;
  --cyan: #17a2b8;
  --violetred: #c71585;
  --red: #ff0000;
  --orange: #ffa500;
  --green: #006400;
  /* my own colors added below */
  --gold: #ffcc00;
  --darkred: #993300;
  --lightyellow: #ffffcc;
  --darkpurple: #3300cc;
}

.navbar {
  background-color: var(--darkpurple);
  text-decoration: none;
}

.nav-link,
.nav-link:hover,
.nav-link:visited,
.nav-link:focus {
  color: var(--white);
}

.container {
  margin: 0 auto;
  text-align: center;
  padding: 50px 50px;
}

#about {
  background-image: url("./files/bananas_edit.png");
  background-color: var(--white);
  color: var(--darkpurple);
}

p::first-line {
  font-size: 150%;
  font-weight: bold;
}

img {
  border-radius: 130px;
}

form {
  width: 400px;
}

/* 
.flex-item,
.grid-item {
  padding: 10px;
  background-color: var(--purple);
  color: var(--white);
  font-size: 2.4em;
  text-align: center;
}

.flex-item {
  width: 160px;
  height: 80px;
  margin: 1px;
} */
